.header{
    display: flex;
    justify-content: space-between;
    margin: 20px;
    border: 1px solid black;
}
.nav-items > ul{
    display: flex;
    list-style-type: none;
    padding: 10px;
}
.nav-items > ul > li {
    padding: 20px;
}
.logo{
    width: 100px;
}
.card{
    width: 300px;
    /* height: 300px; */
    border: 2px solid rgb(158, 158, 178);
    
    padding: 10px;
    margin: 20px;
 
}
.card > img {
    width: 100%;
    height: 150px;
    
}
.restaurant-list{
    display: flex;
    flex-wrap: wrap;
    margin: 30px;
}

.shimmer-card{
    width: 300px;
    height: 500px;
    background-color: rgb(171, 171, 180);
    padding: 10px;
    margin: 10px; 
}